  /* 
        =============================
            1. Base CSS
            2. Landing Page CSS
            3. Login Page
        =============================
  */

  /* Base CSS  */
  /* Google Fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
      margin: 0;
      padding: 0;
  }

  body {
      font-family: 'Poppins',
          sans-serif;
  }

  .container {
      max-width: 768px !important;
      padding: 16px !important;
  }

  @media screen and (max-width: 450px) {

      /* Landing Page CSS  */
      .landing-wrap {
          width: 90%;
          text-align: center;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      }

      .landing-wrap img {
          padding-bottom: 160px;
      }

      .landing-button {
          margin-top: -100px;
      }

      .btn-n {
          padding: 14px 60px;
          margin: 15px 0;
          border: 0;
          border-radius: 5px;
          width: 243px !important;
          font-weight: 600;
      }

      .btn-n.login {
          background: 0;
          border: 1px solid #C3C3C5;
          color: #FA3A55;
          transition: .4s;
      }

      .btn-n.login:hover {
          background: #1c1c1c;
          color: #fff;
          transition: .4s;
      }

      .btn-n.busniess {
          background: #1C1C1C;
          color: #fff;
          border: 1px solid #1C1C1C;
          transition: .4s;
      }

      .btn-n.busniess:hover {
          background: none;
          color: #1c1c1c;
          transition: .4s;
          border: 1px solid #C3C3C5;
      }

      /* Login Page  */
      .login-wrap {
          text-align: center;
          margin: 0 auto;
          position: absolute;
          top: 30%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 90%;
      }

      .login-logo {
          padding-top: 300px;
      }

      .login-logo img {
          /* padding-bottom: 200px; */
      }

      .login-with h3 {
          font-size: 20px;
          font-weight: 600;
          padding-top: 50px;
          color: #1c1c1c;
      }

      .login-with h5 {
          color: #8E8F91;
          font-size: 16px;
          font-weight: normal;
          padding-top: 15px;
      }

      .login-with h5 a {
          color: #FA3B56;
          text-decoration: navajowhite;
      }

      .login-with-social-media {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 30px 50px;
      }

      .login-with h2 {
          font-weight: bold;
          font-size: 20px;
          padding-bottom: 45px;
      }

      .login-form input {
          border-top: 0;
          border-radius: 0;
          border-right: 0;
          border-left: 0;
          padding-left: 0;
          padding-bottom: 10px;
          width: 82%;
          margin: 0 auto;
      }

      .form-control:focus {
          color: #212529;
          background-color: #fff;
          border-color: #fa3e59;
          outline: 0;
          box-shadow: none !important;
      }

      .form-control::placeholder {
          color: #8E8F91;
          opacity: 1;
          font-size: 14px;
          font-weight: 300;
      }

      .form-control.password {
          margin-top: 15px;
      }

      .login-form-bottom {
          display: flex;
          justify-content: space-evenly;
          margin-top: 45px;
      }

      .login-form-bottom a {
          text-decoration: none;
          color: #fc4866;
      }

      .form-check-input:checked {
          background-color: #fc4563;
          border-color: #fb4461;
      }








  }